$primary_color: #1CAC78;
$secondary_color: #0f9565;

.ant-notification {
    z-index: 999999 !important;
}

.wrap.ai-content-generate-wrap {
    margin-top: 20px;

    & > h2 {
        margin: 0 0 20px !important;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
    }
}

.toplevel_page_ai-content-generate {
    .ant-btn-primary,
    .ant-btn-primary:active,
    .ant-btn-primary:hover,
    .ant-btn-primary:focus {
        outline: none;
    }
}

.ai-content-generate-update-form {
    .ant-form-item {
        .ant-form-item-label {
            text-align: start;
        }
    }
}

.ai-content-generate-settings-wrapper {
    position: relative;
    background-color: #ffffff;
    padding: 25px;
    min-height: 350px;

    .settings-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ai-content-generate-settings-form {
        .ant-form-item {
            .ant-form-item-label {
                text-align: start;
            }
        }

        .settings-save-button {
            position: relative;
            padding: 7px 15px;
            height: auto;
            box-shadow: none;
            background: $primary_color;

            &:hover {
                background: $secondary_color;
            }

            &.loading {
                cursor: not-allowed;
                pointer-events: none;
            }

            & > span {
                font-size: 14px;
                font-weight: 500;
            }

            .ant-spin {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                color: #ffffff;

                .anticon-spin {
                    margin-top: 5px;
                }
            }
        }
    }
}
